#theatre {
    height:600px;
    width:600px;
}
.chicago{
    height: 300px;
    width: 300px;
}
.card1 {
    display: flex;

}
#griot{
    padding-right: 800px;
}
ul {
    list-style: none;
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
#list1 {
   text-align: center;
}
li{
    text-align: left;
}